* {
  --text-xs-fontSize: 10px;
  --text-sm-fontSize: 12px;
  --text-base-fontSize: 14px;
  --text-lg-fontSize: 16px;
  --text-xl-fontSize: 18px;
  --text-2xl-fontSize: 20px;
  --text-3xl-fontSize: 24px;
  --text-4xl-fontSize: 32px;
  --text-5xl-fontSize: 40px;
}
